* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
}

body {
    background-color: #999;
    display: flex;
}


/*  Fonts */

@font-face {
    font-family: "samandar";
    src: url(../fonts/Pacifico-Regular.ttf);
}


/*  Left  */
.left {
    width: 250px;
    background-color: black;
    height: 100vh;
    position: relative;
}
.items {
    background-color: #000;
    height: 100%;
    width: 250px;
    position: fixed;
    border-right: 1px solid rgb(52, 52, 52);
    padding: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    height: 80px;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}
.logo h2 {
    font-family: "samandar";
    font-weight: 200;
    letter-spacing: 1px;
    padding: 0 12px;
}

.logo i {
    font-size: 25px;
    display: none;
}

.nav {
    height: calc(100% - 80px);
}
.nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.nav ul li a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 16px;
    padding: 12px;
    border-radius: 10px;
    transition: 0.2s;
}
.nav ul li:first-child{ 
    font-weight: 800;
}
.nav ul li a img {
    border-radius: 50%;
    background-color: white;
}
.nav ul li a:hover {
    background-color: rgba(40, 40, 40, 0.695);
}
.nav ul li a i{
    font-size: 22px;
}


/*  Right  */
.right {
    height: 100vh;
    width: calc(100% - 250px);
    display: flex;
    float: right;
}

.right-chap {
    width: 65%;
    height: 100%;
    background-color: black;
}
.right-ung {
    width: 35%;
    height: 100%;
    background-color: blue;
}

.chap-header-1 {
    width: 100%;
    height: 63px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 22px;
    display: none;
    border-bottom: 1px solid rgb(48, 48, 48);
}
.chap-header-1 ul{
    display: flex;
    height: 100%;
    gap: 13px;
    align-items: center;
    list-style-type: none;
}
.chap-header-1 h1 {
    font-family: "samandar";
    font-weight: 400;
    letter-spacing: 1px;
}
.chap-header-1 ul input {
    width: 250px;
    padding: 9px 15px;
    outline: none;
    border: none;
    border-radius: 7px;
    background-color: #363636;
}
.chap-header-1 ul input::placeholder {
    font-size: 16px;
    color: rgb(154, 154, 154);
}
.chap-header-1 ul li{
    padding: 0 5px;
}
.chap-header-1 ul li i{
    font-size: 22px;
}

.chap-header-2 {
    height: 130px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profiles {
    width: 80%;
    margin: auto;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.profil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4px;
    cursor: pointer;
    gap: 5px;
}
.rasm {
    background: linear-gradient(45deg, #FBC400, rgb(255, 0, 132), #CB00BD);
    width: 64px;
    height: 64px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profil img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}
.profil p {
    font-size: 14px;
}


@media (max-width:1260px){
    /*  Header */
    .left {
        width: 80px;
    }
    .items {
        width: 80px;
        padding: 17px;
    }
    .nav ul li a span {
        display: none;
    }
    .logo h2{
        display: none;
    }
    .logo i {
        display: block;
        padding: 12px;
    }

    .right { 
        width: calc(100% - 80px);
    }
}

@media (max-width: 1160px) {
    .right-ung {
        display: none;
    }
    .right-chap {
        width: 100%;
    }
}

@media (max-width: 765px){
    .left {
        display: none;
    }
    .right{
        width: 100%;
    }
    .chap-header-1 {
        display: flex;
    }
}
